<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Ansonika">
  <title>FOOGRA - Admin dashboard</title>
  <!-- Favicons-->
  <link rel="shortcut icon" th:href="@{/admin_section/img/favicon.ico}" type="image/x-icon">
  <!-- Bootstrap core CSS-->
  <link th:href="@{/admin_section/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Main styles -->
  <link th:href="@{/admin_section/css/admin.css}" rel="stylesheet">
  <!-- Icon fonts-->
  <link th:href="@{/admin_section/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
  <!-- Plugin styles -->
  <link th:href="@{/admin_section/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">
  <!-- Your custom styles -->
  <link th:href="@{/admin_section/css/custom.css}" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-default fixed-top" id="mainNav">
  <a class="navbar-brand" th:href="@{/admin/main}"><img th:src="@{/admin_section/img/logo.svg}" alt="" width="142" height="36"></a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
        <a class="nav-link" href="index.html">
          <i class="fa fa-fw fa-dashboard"></i>
          <span class="nav-link-text">Dashboard</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="신고내역">
        <a class="nav-link" th:href="@{/admin/reportList}">
          <i class="fa fa-fw fa-exclamation-triangle"></i>
          <span class="nav-link-text">신고내역</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="매장등록요청">
        <a class="nav-link" th:href="@{/admin/registList}">
          <i class="fa fa-fw fa-folder-open"></i>
          <span class="nav-link-text">매장등록요청</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="신규매장추천">
        <a class="nav-link" th:href="@{/admin/recommendList}">
          <i class="fa fa-fw fa-folder-open"></i>
          <span class="nav-link-text">추천매장목록</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav sidenav-toggler">
      <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
          <i class="fa fa-fw fa-angle-left"></i>
        </a>
      </li>
    </ul>
    <!-- 로그아웃 모달 -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
      </li>
    </ul>
  </div>
</nav>
<!-- /Navigation-->
<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Listings</li>
    </ol>
    <div class="box_general">
      <div class="header_box">
        <h2 class="d-inline-block">Listings</h2>
        <div class="filter">
<!--          조건변경 (상태에 따라 보기로 바꿀듯?)-->
          <div class="styled-select short">
            <select name="orderby">
              <option value="Any time">Any time</option>
              <option value="Latest">Latest</option>
              <option value="Oldest">Oldest</option>
            </select>
          </div>
        </div>
      </div>
      <div class="list_general">
        <ul>
          <li>
            <figure><img th:src="@{/admin_section/img/item_1.jpg}" alt=""></figure>
            <small>Pizza - Italian</small>
            <h4>La Monnalisa</h4>
            <p>Lorem ipsum dolor sit amet, est ei idque voluptua copiosae, pro detracto disputando reformidans at, ex vel suas eripuit. Vel alii zril maiorum ex, mea id sale eirmod epicurei. Sit te possit senserit, eam alia veritus maluisset ei, id cibo vocent ocurreret per....</p>
            <p><a href="#0" class="btn_1 gray"><i class="fa fa-fw fa-eye"></i> View item</a></p>
            <ul class="buttons">
              <li><a href="#0" class="btn_1 gray delete wishlist_close"><i class="fa fa-fw fa-times-circle-o"></i> Cancel</a></li>
            </ul>
          </li>
          <li>
            <figure><img th:src="@{/admin_section/img/item_2.jpg}" alt=""></figure>
            <small>Pizza - Italian</small>
            <h4>Da Alfredo</h4>
            <p>Lorem ipsum dolor sit amet, est ei idque voluptua copiosae, pro detracto disputando reformidans at, ex vel suas eripuit. Vel alii zril maiorum ex, mea id sale eirmod epicurei. Sit te possit senserit, eam alia veritus maluisset ei, id cibo vocent ocurreret per....</p>
            <p><a href="#0" class="btn_1 gray"><i class="fa fa-fw fa-eye"></i> View item</a></p>
            <ul class="buttons">
              <li><a href="#0" class="btn_1 gray delete wishlist_close"><i class="fa fa-fw fa-times-circle-o"></i> Cancel</a></li>
            </ul>
          </li>
          <li>
            <figure><img th:src="@{/admin_section/img/item_3.jpg}" alt=""></figure>
            <small>Japanese</small>
            <h4>Sushi Gold</h4>
            <p>Lorem ipsum dolor sit amet, est ei idque voluptua copiosae, pro detracto disputando reformidans at, ex vel suas eripuit. Vel alii zril maiorum ex, mea id sale eirmod epicurei. Sit te possit senserit, eam alia veritus maluisset ei, id cibo vocent ocurreret per....</p>
            <p><a href="#0" class="btn_1 gray"><i class="fa fa-fw fa-eye"></i> View item</a></p>
            <ul class="buttons">
              <li><a href="#0" class="btn_1 gray delete wishlist_close"><i class="fa fa-fw fa-times-circle-o"></i> Cancel</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- /box_general-->
    <nav aria-label="...">
      <ul class="pagination pagination-sm add_bottom_30">
        <li class="page-item disabled">
          <a class="page-link" th:onclick="|location.href='@{/menu/list(page=${page-1})}';|" th:disabled="${isFirst}">이전</a>
        </li>
        <li class="page-item">
          <a th:each="p : ${#numbers.sequence(beginPage, endPage)}"
             th:text="${p}"
             th:onclick="|location.href='@{/menu/list(page=${p})}';|"
             th:disabled="${p eq page}">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" th:onclick="|location.href='@{/menu/list(page=${page+1})}';|" th:disabled="${isLast}">다음</a>
        </li>
      </ul>
    </nav>
    <!-- /pagination-->
  </div>
  <!-- /container-fluid-->
</div>
<!-- /container-wrapper-->
<footer class="sticky-footer">
  <div class="container">
    <div class="text-center">
      <small>Copyright © FOOGRA 2021</small>
    </div>
  </div>
</footer>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fa fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" th:href="@{/logout}">Logout</a>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/admin_section/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/admin_section/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Core plugin JavaScript-->
<script th:src="@{/admin_section/vendor/jquery-easing/jquery.easing.min.js}"></script>
<!-- Page level plugin JavaScript-->
<script th:src="@{/admin_section/vendor/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/admin_section/vendor/datatables/dataTables.bootstrap4.js}"></script>
<script th:src="@{/admin_section/vendor/jquery.magnific-popup.min.js}"></script>
<!-- Custom scripts for all pages-->
<script th:src="@{/admin_section/js/admin.js}"></script>
</body>

</html>