<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <!-- SPECIFIC CSS -->
    <link href="/css/blog.css" rel="stylesheet">
    <!-- YOUR CUSTOM CSS -->
    <link href="/css/listing.css" rel="stylesheet">
</head>

<body class="margin_sticky">
<div th:replace="~{fragments/subHeader :: subHeader}"></div>

<main>
    <div class="page_header element_to_stick">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-7 col-md-7 d-none d-md-block">
                    <div class="breadcrumbs blog">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Category</a></li>
                            <li>Page active</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-5">
                    <div class="search_bar_list">
                        <input id="searchInput" type="text" class="form-control" placeholder="Search in blog...">
                        <input type="submit" value="Search" onclick="performSearch()">
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
    </div>
    <!-- /page_header -->

    <div class="container margin_30_40">
        <div class="row">
            <div class="col-lg-9">

                <div id="comments" th:if="${commentList.commentList != null}">
                    <h5>Comments</h5>
                    <ul>
                        <li th:each="item : ${commentList.commentList}">
                            <div class="avatar">
                                <a href="#">
                                    <img th:src="${item.authorProfileImageUrl != null} ? ${item.authorProfileImageUrl} : @{/img/default-avatar.jpg}" alt="profile">
                                </a>
                            </div>
                            <div class="comment_right clearfix">
                                <div class="comment_info">
                                    <strong> 게시글 : <a th:href="@{/board/detail/{id}(id=${item.communityBoardId})}"
                                                      th:text="${item.boardTitle != null ? item.boardTitle : '삭제된 게시글입니다'}"></a></strong>
                                    <hr>
                                    By <a th:text="${item.author}">사용자 이름</a>
                                    <span>|</span>
                                    <span th:text="${#temporals.format(item.createdAt, 'yyyy-MM-dd HH:mm')}">작성일</span>
                                    <span th:if="${userAccessInfo.isOwner}">|
                                        <a href="#0"
                                           th:onclick="'deleteComment(' + ${item.id} + ',' + ${item.communityBoardId} + '); return false;'"
                                           class="wish_bt"
                                           style="color: red;">
                                            <i class="icon_trash_alt"></i>
                                        </a>
                                    </span>
                                </div>
                                <p th:text="${item.content}">여기 내용</p>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="pagination_fg" th:if="${commentList.totalPage > 0}">
                    <a th:href="@{|?page=${commentList.page - 1}|}"
                       th:if="${!commentList.isFirst}">&laquo;</a>
                    <th:block th:each="i : ${#numbers.sequence(commentList.beginPage, commentList.endPage)}">
                        <a th:href="@{|?page=${i}|}"
                           th:classappend="${i eq commentList.page} ? 'active' : ''">
                            <span th:text="${i}"></span>
                        </a>
                    </th:block>
                    <a th:href="@{|?page=${commentList.page + 1}|}"
                       th:if="${!commentList.isLast}">&raquo;</a>
                </div>
            </div>
            <!-- /aside -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</main>
<!-- /main -->
<footer th:replace="~{fragments/footer :: footer}"></footer>
<!--/footer-->

<div id="toTop"></div><!-- Back to top button -->

<div class="layer"></div><!-- Opacity Mask Menu Mobile -->

<!-- Sign In Modal -->
<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
    <div class="modal_header">
        <h3>Sign In</h3>
    </div>
    <form>
        <div class="sign-in-wrapper">
            <a href="#0" class="social_bt facebook">Login with Facebook</a>
            <a href="#0" class="social_bt google">Login with Google</a>
            <div class="divider"><span>Or</span></div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" name="email" id="email">
                <i class="icon_mail_alt"></i>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" id="password" value="">
                <i class="icon_lock_alt"></i>
            </div>
            <div class="clearfix add_bottom_15">
                <div class="checkboxes float-start">
                    <label class="container_check">Remember me
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="float-end"><a id="forgot" href="javascript:void(0);">Forgot Password?</a></div>
            </div>
            <div class="text-center">
                <input type="submit" value="Log In" class="btn_1 full-width mb_5">
                Don’t have an account? <a href="account.html">Sign up</a>
            </div>
            <div id="forgot_pw">
                <div class="form-group">
                    <label>Please confirm login email below</label>
                    <input type="email" class="form-control" name="email_forgot" id="email_forgot">
                    <i class="icon_mail_alt"></i>
                </div>
                <p>You will receive an email containing a link allowing you to reset your password to a new preferred
                    one.</p>
                <div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
            </div>
        </div>
    </form>
    <!--form -->
</div>
<!-- /Sign In Modal -->
<script>
    function deleteComment(id, boardId) {
        if (!confirm('정말 삭제할까요?')) return;

        fetch('/comments/' + id + '?boardId=' + boardId, {
            method: 'DELETE'
        })
            .then(res => {
                if (res.ok) {
                    alert('삭제되었습니다.');
                    location.reload();
                } else {
                    return res.json().then(err => {
                        let msg = err.message || err.reason || "삭제 실패";
                        alert(msg);
                    });
                }
            })
            .catch(() => alert('서버 오류'));
    }
</script>

<!-- COMMON SCRIPTS -->
<script src="/js/common_scripts.min.js"></script>
<script src="/js/common_func.js"></script>
<script src="/assets/validate.js"></script>

</body>
</html>