<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <!-- SPECIFIC CSS -->
    <link th:href="@{/css/listing.css}" rel="stylesheet">
    <link th:href="@{/css/saved-store.css}" rel="stylesheet">
</head>
<body class="margin_sticky" th:attr="userId=${userAccessInfo.targetUserId}">
<div th:replace="~{fragments/subHeader :: subHeader}"></div>

<main>
    <div class="collapse" id="collapseMap">
        <div id="map" class="map"></div>
    </div>

    <div class="container margin_30_40">
        <div class="row">
            <aside class="col-lg-3" id="sidebar_fixed">
                <div class="clearfix">
                    <a class="btn_map d-flex align-items-center justify-content-center" data-bs-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap">
                        <span class="btn_map_txt" data-text-swap="지도 보기" data-text-original="지도 숨기기">지도 보기</span>
                    </a>
                    <a class="btn_map mobile btn_filters" data-bs-toggle="collapse" href="#collapseMap">
                        <i class="icon_pin_alt"></i>
                    </a>
                    <a href="#0" class="open_filters btn_filters">
                        <i class="icon_adjust-vert"></i><span>Filters</span>
                    </a>
                </div>
                <div class="filter_col">
                    <div class="inner_bt">
                        <a href="#" class="open_filters"><i class="icon_close"></i></a>
                    </div>
                    <div class="filter_type">
                        <h4>
                            <a href="#filter_1" data-bs-toggle="collapse" class="opened">저장 카테고리 조회</a>
                        </h4>
                        <div class="collapse show" id="filter_1">
                            <ul th:if="${userAccessInfo.isOwner}">
                                <li th:each="category : ${mySavedStorePageInfo.searchFilter}">
                                    <label class="container_check">
                                        <span th:text="${category.categoryName}"></span>
                                        <input type="checkbox" th:value="${category.categoryId}" th:checked="${category.isActive}">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                            </ul>
                            <ul th:unless="${userAccessInfo.isOwner}">
                                <li th:each="category : ${savedStorePageInfo.searchFilter}">
                                    <label class="container_check">
                                        <span th:text="${category.categoryName}"></span>
                                        <input type="checkbox" th:value="${category.categoryId}" th:checked="${category.isActive}">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                            </ul>
                            <div class="buttons">
                                <button id="search" class="btn_1 full-width">검색</button>
                            </div>
                        </div>
                    </div>
                    <!-- 자기 자신에게만 보이는 카테고리 수정 영역-->
                    <div class="filter_type" th:if="${userAccessInfo.isOwner}">
                        <h4>
                            <a href="#filter_2" data-bs-toggle="collapse" class="closed">카테고리 정보 수정</a>
                        </h4>
                        <div class="collapse" id="filter_2">
                            <ul>
                                <li th:each="category : ${mySavedStorePageInfo.updateCategoryList}" class="category-item">
                                    <label class="container_check">
                                        <input type="checkbox" class="category_check" th:value="${category.categoryId}">
                                        <span class="checkmark" id="checkmark-update"></span>
                                    </label>
                                    <div class="category-group">
                                        <input type="text" class="category_name_input" th:value="${category.categoryName}">
                                        <div class="radio-group">
                                            <label>
                                                <input type="radio" th:name="'public_' + ${category.categoryId}" value="true"
                                                       th:checked="${category.isActive}"> 공개
                                            </label>
                                            <label>
                                                <input type="radio" th:name="'public_' + ${category.categoryId}" value="false"
                                                       th:checked="${!category.isActive}"> 비공개
                                            </label>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="category-buttons">
                                <button id="update_categories" class="btn_1">수정</button>
                                <button id="delete_categories" class="btn_1">삭제</button>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <div class="col-lg-9">
                <div class="row" id="store-list">
                    <div class="col-12 text-center"
                         th:if="${#lists.isEmpty(userAccessInfo.isOwner
                                      ? mySavedStorePageInfo.savedStoreList.savedStoreList
                                      : savedStorePageInfo.savedStoreList.savedStoreList)}">
                        <p>저장한 가게가 없습니다.</p>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6"
                         th:each="store : ${(userAccessInfo.isOwner
                                                       ? mySavedStorePageInfo.savedStoreList.savedStoreList
                                                       : savedStorePageInfo.savedStoreList.savedStoreList)}">
                        <div class="strip">
                            <figure>
                                <img th:src="${store.storeMainImageUrl}" class="img-fluid" alt="">
                                <a th:href="@{'/store/detail/' + ${store.storeId}}" class="strip_info" target="_blank" rel="noopener noreferrer">
                                    <small th:text="${store.saveStoreCategoryName}"></small>
                                    <div class="item_title">
                                        <h3 th:text="${store.storeName}">가게명</h3>
                                        <small th:text="${store.address}">주소</small>
                                    </div>
                                </a>
                            </figure>
                            <ul>
                                <li>
                                    <span class="memo-tooltip" th:attr="title=${store.memo}"
                                          th:text="${store.memo}">
                                    </span>
                                </li>
                                <li>
                                    <div class="score"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div th:with="pageInfo=${userAccessInfo.isOwner } ? ${mySavedStorePageInfo.savedStoreList} : ${savedStorePageInfo.savedStoreList}">
                    <div class="pagination_fg">
                        <a href="#"
                           th:attr="data-page=${pageInfo.page > 1 ? pageInfo.page - 1 : 1}"
                           th:classappend="${pageInfo.page == 1} ? 'disabled'">&laquo;
                        </a>
                        <a href="#"
                           th:each="i : ${#numbers.sequence(pageInfo.beginPage, pageInfo.endPage)}"
                           th:attr="data-page=${i}"
                           th:classappend="${pageInfo.page == i} ? 'active'">
                            <span th:text="${i}">1</span>
                        </a>
                        <a href="#"
                           th:attr="data-page=${pageInfo.page < pageInfo.totalPage ? pageInfo.page + 1 : pageInfo.totalPage}"
                           th:classappend="${pageInfo.page == pageInfo.totalPage} ? 'disabled'">&raquo;
                        </a>
                    </div>
                </div>
            </div>
            <!-- /col -->
        </div>
    </div>
    <!-- /container -->
</main>
<div th:replace="~{fragments/alert-modal :: alertModal('confirmDeleteComment', '알림', '<p>정말 이 댓글을 삭제하시겠습니까?</p>', '확인', '취소')}"></div>
<div th:replace="~{fragments/alert-modal :: alertModal('noCheckCategory', '알림', '<p>조회할 카테고리를 선택하세요.</p>', '확인', null)}"></div>
<div th:replace="~{fragments/alert-modal :: alertModal('noCheckUpdateCategory', '알림', '<p>수정할 카테고리를 선택하세요.</p>', '확인', null)}"></div>
<div th:replace="~{fragments/alert-modal :: alertModal('noCheckDeleteCategory', '알림', '<p>삭제할 카테고리를 선택하세요.</p>', '확인', null)}"></div>

<div th:replace="~{fragments/alert-modal :: alertModal('successUpdateCategory', '알림', '<p>저장 가게 카테고리가 수정 되었습니다.</p>', '확인', null)}"></div>
<div th:replace="~{fragments/alert-modal :: alertModal('successDeleteCategory', '알림', '<p>저장 가게 카테고리가 성공적으로 삭제되었습니다.</p>', '확인', null)}"></div>
<div th:replace="~{fragments/alert-modal :: alertModal('failSavedStoreShow', '알림', '', '확인', null)}"></div>


<!-- /main -->
<footer th:replace="~{fragments/footer :: footer}"></footer>

<div id="toTop"></div><!-- Back to top button -->
<div class="layer"></div><!-- Opacity Mask Menu Mobile -->

<!-- COMMON SCRIPTS -->
<script src="/js/common_scripts.min.js"></script>
<script src="/js/common_func.js"></script>
<script src="/assets/validate.js"></script>
<!-- SPECIFIC SCRIPTS -->
<script src="/js/sticky_sidebar.min.js"></script>
<script src="/js/specific_listing.js"></script>
<script src="/js/saved-store-search.js"></script>
<script src="/js/saved-store-category-update.js"></script>
<script src="/js/alertModal.js"></script>

<!-- Map -->
<script type="text/javascript"
        th:src="@{'https://oapi.map.naver.com/openapi/v3/maps.js?ncpKeyId='
				+ ${@environment.getProperty('naver.maps.client.id')}
				+ '&submodules=geocoder,markerclusterer'}">
</script>
<script src="/js/saved-store-map.js"></script>
</body>
</html>