<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
    <link th:href="@{/admin_section/css/admin.css}" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link th:href="@{/css/subscription.css}" rel="stylesheet">
</head>
<body class="margin_sticky">
<div th:replace="~{fragments/subHeader :: subHeader}"></div>

<main>
    <div class="container margin_60_30">
        <div class="container-fluid">
            <div class="header_box">
                <ul class="nav nav-tabs justify-content-start">
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${list.subscriptionType.name() == 'FOLLOWER'} ? ' active' : ''"
                           th:href="@{/users/{userId}/follower(userId=${userAccessInfo.targetUserId})}">
                            구독자
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           th:classappend="${list.subscriptionType.name() == 'FOLLOWING'} ? ' active' : ''"
                           th:href="@{/users/{userId}/following(userId=${userAccessInfo.targetUserId})}">
                            구독중
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div th:if="${#lists.isEmpty(list.subscriptionList)}" class="col-12 text-center">
                <p>구독한 사용자가 없습니다.</p>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6"
                 th:each="item : ${list.subscriptionList}">
                <div class="strip">
                    <figure>
                        <img th:src="${item.profileBannerImageUrl}" alt="프로필 배너 이미지">
                        <a th:href="@{/users/{userId}/mypage(userId=${item.userId})}" class="strip_info">
                            <div class="item_title">
                                <img th:src="${item.profileImageUrl}" alt="프로필 이미지" class="profile-thumb">
                                <h3 th:text="${item.name}">이름</h3>
                                <small th:text="'ID: ' + ${item.loginId}">아이디</small>
                            </div>
                        </a>
                    </figure>
                    <ul>
                        <li th:if="${userAccessInfo.requestUserId != null and userAccessInfo.requestUserId != item.userId}">
                            <a class="btn_1 subscribe-btn"
                               th:data-userId="${item.userId}"
                               th:data-subscribed="${item.isSubscribed}"
                               th:text="${item.isSubscribed} ? '구독 취소' : '구독'">
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="pagination_fg" th:if="${list.totalPage > 0}">
            <a th:href="@{|?page=${list.page > 1 ? list.page - 1 : 1}|}"
               th:classappend="${list.page == 1} ? ' disabled' : ''">
                &laquo;
            </a>
            <a th:each="i : ${#numbers.sequence(list.beginPage, list.endPage)}"
               th:href="@{|?page=${i}|}"
               th:text="${i}"
               th:classappend="${list.page == i} ? ' active' : ''"></a>
            <a th:href="@{|?page=${list.page < list.totalPage ? list.page + 1 : list.totalPage}|}"
               th:classappend="${list.page == list.totalPage} ? ' disabled' : ''">
                &raquo;
            </a>
        </div>
    </div>
</main>

<div th:replace="~{fragments/alert-modal :: alertModal('failSubscription', '알림', '', '확인', null)}"></div>

<footer th:replace="fragments/footer :: footer"></footer>

<script src="/js/common_scripts.min.js"></script>
<script src="/js/common_func.js"></script>
<script src="/assets/validate.js"></script>
<script src="/js/subscription.js"></script>
<script src="/js/alertModal.js"></script>

</body>
</html>