<div th:fragment="mainHeader">

<header class="header clearfix element_to_stick">
  <div class="container">
    <div id="logo">
      <a th:href="@{/}">
        <img th:src="@{/img/logo.svg}" width="140" height="35" alt="" class="logo_normal">
        <img th:src="@{/img/logo_sticky.svg}" width="140" height="35" alt="" class="logo_sticky">
      </a>
    </div>
    <!-- /top_menu -->
    <nav class="main-menu">
      <div id="header_menu">
        <a th:href="@{/}"><img th:src="@{/img/logo.svg}" width="140" height="35" alt=""></a>
      </div>
      <ul>
        <li class="submenu">
          <a th:href="검색페이지">검색페이지</a>
        </li>
        <li class="submenu">
          <a th:href="커뮤니티페이지">커뮤니티</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
</div>
<!-- /header -->
