<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="mainHeader">
  <header class="header clearfix element_to_stick">
    <div class="container">
      <div id="logo">
        <a th:href="@{/}">
          <!--
              최상단에 위치할 시
              <img src="/img/noodlezipLogo-stickhead-white.svg" width="140" height="35" alt="" class="logo_normal">
          -->
          <img th:src="@{/img/noodlezip-logo-stickhead-clear.svg}" width="140" height="35" alt="" class="logo_sticky">
        </a>
      </div>

      <!-- /top_menu -->
      <ul id="top_menu">
        <div sec:authorize="isAnonymous()">
          <li><a href="#sign-in-dialog" class="sign-in login">Sign In</a></li>
        </div>
        <div sec:authorize="isAuthenticated()">
          <li>
            <div class="dropdown user clearfix">
              <a href="#" data-bs-toggle="dropdown">
                <figure><img th:src="${#authentication.principal.user.profileImageUrl}" alt=""></figure>
                <span th:text="${#authentication.principal.user.userName}"></span>
              </a>
              <div class="dropdown-menu">
                <div class="dropdown-menu-content">
                  <ul>
                    <li>
                      <a th:href="@{|/mypage/${#authentication.principal.user.id}|}">
                        <i class="icon_cog"></i>
                      마이페이지
                      </a>
                    </li>
                    <li><a href="/logout" class="logout-link"><i class="icon_key"></i>Log Out</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /dropdown -->
          </li>
        </div>
      </ul>
      <!-- /top_menu -->

      <!-- 햄버거 메뉴 버튼 -->
      <a href="#0" class="open_close">
        <i class="icon_menu"></i><span>Menu</span>
      </a>

      <nav class="main-menu">
        <!-- 사이드바 내부 헤더 -->
        <div id="header_menu">
          <a href="#0" class="open_close">
            <i class="icon_close"></i><span>Menu</span>
          </a>
          <a th:href="@{/}"><img th:src="@{/img/noodlezip-logo-stickhead-clear.svg}" width="140" height="35" alt=""></a>
        </div>
        <ul>
          <li><a th:href="@{/search/list}">검색페이지</a></li>
          <li><a th:href="@{/board/list}">커뮤니티페이지</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- Layer 요소 - 사이드바 메뉴용 -->
  <div class="layer"></div><!-- Opacity Mask Menu Mobile -->

  <!-- 로그인 모달 -->
  <div th:replace="~{fragments/signin-modal :: signin-modal}"></div>
</div>

</html>