main {
    min-height: calc(100vh - 300px); /* header+footer 대략 합산 높이 고려 */
}

.pagination_fg a.disabled {
  pointer-events: none;
  color: #ccc;
}

.col-xl-4  {
    margin-bottom: 10px;
}

.nav {
    margin-bottom: 20px;
}

.strip .item_title h3 {
    color: #fff !important;
}

.item_title {
    gap: 12px;
}

.profile-thumb {
    width: 48px !important;
    height: 48px !important;
    object-fit: cover !important;
    border-radius: 8px !important;
    flex-shrink: 0 !important;
}
