<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/mainHeader::mainHeader}"></div>
<main>
    <div class="hero_single version_2">
        <div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9 col-lg-10 col-md-8">
                        <h1>Discover &amp; Book</h1>
                        <p>The best restaurants at the best price</p>
                                <form method="post" action="grid-listing-filterscol.html">
                                    <div class="row g-0 custom-search-input">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <input class="form-control" type="text"
                                                       placeholder="What are you looking for...">
                                                <i class="icon_search"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input class="form-control no_border_r" type="text"
                                                       placeholder="Address, neighborhood...">
                                                <i class="icon_pin_alt"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <input type="submit" value="Search">
                                        </div>
                                    </div>
                                    <!-- /row -->
                                </form>
                    </div>
                </div>
                <!-- /row -->
            </div>
        </div>
    </div>
    <!-- /hero_single -->
    <div class="bg_gray">
        <div class="container margin_60_40">
            <div class="main_title center">
                <span><em></em></span>
                <h2>Popular Categories</h2>
                <p>Cum doctus civibus efficiantur in imperdiet deterruisset</p>
            </div>
            <!-- /main_title -->
            <div class="owl-carousel owl-theme categories_carousel">
                <div class="item_version_2">
                    <a href="grid-listing-filterscol.html">
                        <figure>
                            <span>98</span>
                            <img src="img/home_cat_placeholder.jpg" data-src="img/home_cat_pizza.jpg" alt=""
                                 class="owl-lazy">
                            <div class="info">
                                <h3>Pizza</h3>
                                <small>Avg price $40</small>
                            </div>
                        </figure>
                    </a>
                </div>
                <div class="item_version_2">
                    <a href="grid-listing-filterscol.html">
                        <figure>
                            <span>87</span>
                            <img src="img/home_cat_placeholder.jpg" data-src="img/home_cat_sushi.jpg" alt=""
                                 class="owl-lazy">
                            <div class="info">
                                <h3>Japanese</h3>
                                <small>Avg price $50</small>
                            </div>
                        </figure>
                    </a>
                </div>
                <div class="item_version_2">
                    <a href="grid-listing-filterscol.html">
                        <figure>
                            <span>55</span>
                            <img src="img/home_cat_placeholder.jpg" data-src="img/home_cat_hamburgher.jpg" alt=""
                                 class="owl-lazy">
                            <div class="info">
                                <h3>Burghers</h3>
                                <small>Avg price $55</small>
                            </div>
                        </figure>
                    </a>
                </div>
                <div class="item_version_2">
                    <a href="grid-listing-filterscol.html">
                        <figure>
                            <span>55</span>
                            <img src="img/home_cat_placeholder.jpg" data-src="img/home_cat_vegetarian.jpg" alt=""
                                 class="owl-lazy">
                            <div class="info">
                                <h3>Vegetarian</h3>
                                <small>Avg price $40</small>
                            </div>
                        </figure>
                    </a>
                </div>
                <div class="item_version_2">
                    <a href="grid-listing-filterscol.html">
                        <figure>
                            <span>65</span>
                            <img src="img/home_cat_placeholder.jpg" data-src="img/home_cat_bakery.jpg" alt=""
                                 class="owl-lazy">
                            <div class="info">
                                <h3>Bakery</h3>
                                <small>Avg price $60</small>
                            </div>
                        </figure>
                    </a>
                </div>
                <div class="item_version_2">
                    <a href="grid-listing-filterscol.html">
                        <figure>
                            <span>25</span>
                            <img src="img/home_cat_placeholder.jpg" data-src="img/home_cat_chinesse.jpg" alt=""
                                 class="owl-lazy">
                            <div class="info">
                                <h3>Chinese</h3>
                                <small>Avg price $40</small>
                            </div>
                        </figure>
                    </a>
                </div>
                <div class="item_version_2">
                    <a href="grid-listing-filterscol.html">
                        <figure>
                            <span>35</span>
                            <img src="img/home_cat_placeholder.jpg" data-src="img/home_cat_mexican.jpg" alt=""
                                 class="owl-lazy">
                            <div class="info">
                                <h3>Mexican</h3>
                                <small>Avg price $35</small>
                            </div>
                        </figure>
                    </a>
                </div>
            </div>
            <!-- /carousel -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bg_gray -->
    <div class="container margin_60_40">
        <div class="main_title">
            <span><em></em></span>
            <h2>인기 가게</h2>
            <p>현재 인기있는 가게들을 소개해드립니다.</p>
            <a href="#0">전체 보기</a>
        </div>
        <!-- /main_title -->
        <div class="owl-carousel owl-theme carousel_4">
            <div class="item"> <!-- 각 아이템마다 루프 돌리면 됨-->
                <div class="strip">
                    <figure>
                        <span class="ribbon off">-30%</span>
                        <img src="/img/lazy-placeholder.png" data-src="img/location_1.jpg" class="owl-lazy" alt="">
                        <a href="detail-restaurant.html" class="strip_info">
                            <small>Pizza</small>
                            <div class="item_title">
                                <h3>Da Alfredo</h3>
                                <small>27 Old Gloucester St</small>
                            </div>
                        </a>
                    </figure>
                    <ul>
                        <li><span class="loc_open">Now Open</span></li>
                        <li>
                            <div class="score"><span>Superb<em>350 Reviews</em></span><strong>8.9</strong></div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- item -->
        </div>
        <!-- /carousel -->

        <div class="banner lazy" data-bg="url(img/banner_bg_desktop.jpg)">
            <div class="wrapper d-flex align-items-center opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.2)">
                <div>
                    <small>Noodle-Zip</small>
                    <h3>3천여개 이상의 라멘 가게</h3>
                    <a href="grid-listing-filterscol.html" class="btn_1">전체 보기</a>
                </div>
            </div>
            <!-- /wrapper -->
        </div>
        <!-- /banner -->

        <div class="row">
            <div class="col-12">
                <div class="main_title version_2">
                    <span><em></em></span>
                    <h2>인기 게시글</h2>
                    <p>현재 인기있는 게시글들을 확인해보세요.</p>
                    <a th:href="@{/board/list}">View All</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="list_home">
                    <ul>
                        <li>
                            <a href="detail-restaurant.html">
                                <figure>
                                    <img src="img/location_list_placeholder.png" data-src="img/location_list_1.jpg"
                                         alt="" class="lazy">
                                </figure>
                                <div class="score"><strong>9.5</strong></div>
                                <em>Italian</em>
                                <h3>La Monnalisa</h3>
                                <small>8 Patriot Square E2 9NF</small>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="list_home">
                    <ul>
                        <li>
                            <a href="detail-restaurant.html">
                                <figure>
                                    <img src="img/location_list_placeholder.png" data-src="img/location_list_4.jpg"
                                         alt="" class="lazy">
                                </figure>
                                <div class="score"><strong>9.5</strong></div>
                                <em>Vegetarian</em>
                                <h3>Mr. Pepper</h3>
                                <small>27 Old Gloucester St, 4563</small>
                                <ul>
                                    <li><span class="ribbon off">-30%</span></li>
                                    <li>Average price $20</li>
                                </ul>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /row -->
        <p class="text-center d-block d-md-block d-lg-none"><a href="grid-listing-filterscol.html" class="btn_1">View
            All</a></p>
        <!-- /button visibile on tablet/mobile only -->

        <div class="owl-carousel owl-theme carousel_1 testimonials add_top_30">
            <div class="item">
                <blockquote>"Quaerendum liberavisse no cum, at copiosae pericula maluisset per. Eos eros etiam ei, nibh
                    elit mel ad. Quo mnesarchum disputando ne, id per delectus disputationi".
                </blockquote>
                <figure><img src="img/avatar-placeholder.jpg" data-src="img/avatar_1.svg" alt="" class="lazy"></figure>
                <cite>
                    <strong>James Powell</strong>
                    <span>3 October 2019</span>
                </cite>
            </div>
            <div class="item">
                <blockquote>"Quaerendum liberavisse no cum, at copiosae pericula maluisset per. Eos eros etiam ei, nibh
                    elit mel ad. Quo mnesarchum disputando ne, id per delectus disputationi".
                </blockquote>
                <figure><img src="img/avatar-placeholder.jpg" data-src="img/avatar_2.svg" alt="" class="lazy"></figure>
                <cite>
                    <strong>Frederick Smith</strong>
                    <span>25 November 2019</span>
                </cite>
            </div>
            <div class="item">
                <blockquote>"Quaerendum liberavisse no cum, at copiosae pericula maluisset per. Eos eros etiam ei, nibh
                    elit mel ad. Quo mnesarchum disputando ne, id per delectus disputationi".
                </blockquote>
                <figure><img src="img/avatar-placeholder.jpg" data-src="img/avatar_3.svg" alt="" class="lazy"></figure>
                <cite>
                    <strong>Jhon Rabbit</strong>
                    <span>31 November 2019</span>
                </cite>
            </div>
        </div>
        <!-- /carousel testimonials-->

    </div>
    <!-- /container -->
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<!-- COMMON SCRIPTS -->
<script th:src="@{/js/common_scripts.min.js}"></script>
<script th:src="@{/js/slider.js}"></script>
<script th:src="@{/js/common_func.js}"></script>
<script th:src="@{/assets/validate.js}"></script>
</body>
</html>